include /other-bucket/mixin

-
	var manifest = require('../../package.json')

doctype html
html
	meta(charset='utf-8')
	title index

	link(rel='stylesheet' href=asset('index.css'))
	script(src=asset('index.js'))

body
	div #{dev}
	div #{hash}
	+Mixin
	div #{manifest.name}-#{manifest.version}
	div(style={ 'background-image': asset.url('~assets/index/green.png') })
	img(src=asset('~assets/index/green.gif'))
